@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to left, #189998, #19E6E3);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #0f5e5eab; 
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #E6960E;
    text-align: center;
    text-shadow: 1px 1px 2px #7a5008cc;
}
h2 {
    color: #1E1899;
}
p {
    text-align: justify; text-align:
}